---
import BaseLayout from "@layouts/BaseLayout.astro";
import OptimizedCover from "@components/OptimizedPicture.astro";
import LatestPosts from "@components/LatestPosts.astro";

import {Content as PageContent} from '../content/pages/about.mdx';
import * as page from '../content/pages/about.mdx';
---

<BaseLayout title={page.frontmatter.title} description={page.frontmatter.description}>
  <!-- Hero-->
  <div class="relative lg:sticky lg:top-28 lg:w-1/2">
    <div class="row gy-5 gx-4 pb-10">
      <header class="col-12">
        <a href={'/' + page.frontmatter.slug + '/'} class="rounded-lg block overflow-hidden group">
          <OptimizedCover src={page.frontmatter.cover} alt={page.frontmatter.title} loading="lazy" class="group-hover:scale-[1.03] transition duration-300 w-full" />
        </a>
        <h1 class="h2 mb-8 mt-3">
          <a href={'/' + page.frontmatter.slug + '/'} class="block hover:text-primary transition duration-300">
            {page.frontmatter.title}
          </a>
        </h1>
      </header>
    </div>
  </div>

  <!-- About Articles-->
  <article class="article">
    <PageContent />
  </article>
  <LatestPosts />
</BaseLayout>
