---
import { Icon } from "astro-icon/components";
import Link from "@components/Links.astro";
import { BRAND_NAME, FooterLinks, LegalLinks, SocialLinks } from "@consts";
const today = new Date();
---
<footer class="mt-auto w-full max-w-[85rem] py-10 mx-auto text-gray-500">
  <nav class="mx-auto w-full max-w-[85rem] px-4" aria-label="Footer">
    <div class="flex flex-col items-center sm:flex-row sm:justify-between">

      <div class="mt-2 flex flex-row gap-5 sm:mt-0 sm:flex-row sm:items-center sm:ps-5">
        {
          FooterLinks.map((link) => (
            <Link
              href={link.href}
              class="inline-flex gap-x-2 font-semibold"
            >
              {link.title}
            </Link>
          ))
        }
      </div>
      <div class="mt-2 flex flex-wrap gap-2 sm:order-3 sm:mb-0 sm:gap-0">
        {
          SocialLinks.map((link) => (
            <button
              type="button"
              class="relative inline-flex h-12 w-12 items-center gap-x-2 bg-white px-4 py-3 text-neutral-500 hover:text-neutral-800 disabled:pointer-events-none disabled:opacity-50  dark:text-neutral-500 dark:hover:text-neutral-200 dark:bg-neutral-900 dark:hover:bg-neutral-900"
            >
              <a
                href={link.href}
                class="absolute inset-0 z-10"
                aria-label={link.label}
                target="_blank"
              />
              <Icon name={link.icon} class="icon-base" />
            </button>
          ))
        }
      </div>
    </div>
    <div class="flex flex-col items-center sm:flex-row sm:justify-between">

      <div class="mt-2 sm:order-1 sm:mb-0">
        <a class="ml-0 mt-8 flex text-sm shrink-0 items-center justify-center hover:underline md:ml-6 md:mt-0" href="https://buymeacoffee.com/fitstud.io" target="_blank" rel="noopener noreferrer nofollow">
          Buy me a
          <svg xmlns="http://www.w3.org/2000/svg" class="mx-1 h-5 w-5" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"> <path stroke="none" d="M0 0h24v24H0z" fill="none"></path> <path d="M3 14c.83 .642 2.077 1.017 3.5 1c1.423 .017 2.67 -.358 3.5 -1c.83 -.642 2.077 -1.017 3.5 -1c1.423 -.017 2.67 .358 3.5 1"></path> <path d="M8 3a2.4 2.4 0 0 0 -1 2a2.4 2.4 0 0 0 1 2"></path> <path d="M12 3a2.4 2.4 0 0 0 -1 2a2.4 2.4 0 0 0 1 2"></path> <path d="M3 10h14v5a6 6 0 0 1 -6 6h-2a6 6 0 0 1 -6 -6v-5z"></path> <path d="M16.746 16.726a3 3 0 1 0 .252 -5.555"></path> </svg>
          so I can be more creative!
            </a>
      </div>

      <div class="mt-2 flex flex-row gap-5 sm:mt-0 sm:flex-row sm:items-center sm:ps-5">
        <a class="flex-none text-sm" href="/" aria-label="Brand">{BRAND_NAME} &copy; {today.getFullYear()}</a>
        {
          LegalLinks.map((link) => (
            <Link
              href={link.href}
              class="inline-flex gap-x-2 text-sm"
            >
              {link.title}
            </Link>
          ))
        }
      </div>
    </div>
  </nav>
</footer>