---
import { Icon } from "astro-icon/components";
import Link from "@components/Links.astro";
import { BRAND_NAME, FooterLinks, LegalLinks, SocialLinks } from "@consts";
const today = new Date();
---
<footer class="footer">
  <nav aria-label="Footer">
    <div class="foot-row">
      <div class="foot-col">
        {
          FooterLinks.map((link) => (
            <Link
              href={link.href}
              class="inline-flex gap-x-2 sm:text-xs md:text-base md:font-semibold"
            >
              {link.title}
            </Link>
          ))
        }
      </div>
      <div class="social">
        {
          SocialLinks.map((link) => (
            <button
              type="button"
              class="relative inline-flex h-12 w-12 items-center gap-x-2 px-4 py-3 text-neutral-500 hover:text-neutral-800 disabled:pointer-events-none disabled:opacity-50  dark:text-neutral-500 dark:hover:text-neutral-200"
              aria-label={link.label}
            >
              <a
                href={link.href}
                class="absolute inset-0 z-10"
                aria-label={link.label}
                target="_blank"
              />
              <Icon name={link.icon} class="icon-base" />
            </button>
          ))
        }
      </div>
    </div>
    <div class="foot-row">
      <div class="mt-2 sm:order-1 sm:mb-0">
        <a class="buymecoffee" href="https://buymeacoffee.com/fitstud.io" target="_blank" rel="noopener noreferrer nofollow">
          Buy me a <svg xmlns="http://www.w3.org/2000/svg" class="opacity-50 mx-1 h-5 w-5" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"> <path stroke="none" d="M0 0h24v24H0z" fill="none"></path> <path d="M3 14c.83 .642 2.077 1.017 3.5 1c1.423 .017 2.67 -.358 3.5 -1c.83 -.642 2.077 -1.017 3.5 -1c1.423 -.017 2.67 .358 3.5 1"></path> <path d="M8 3a2.4 2.4 0 0 0 -1 2a2.4 2.4 0 0 0 1 2"></path> <path d="M12 3a2.4 2.4 0 0 0 -1 2a2.4 2.4 0 0 0 1 2"></path> <path d="M3 10h14v5a6 6 0 0 1 -6 6h-2a6 6 0 0 1 -6 -6v-5z"></path> <path d="M16.746 16.726a3 3 0 1 0 .252 -5.555"></path> </svg> so I can stay creative!
        </a>
      </div>
      <div class="foot-col">
        <a class="flex-none text-sm" href="/" aria-label="Brand">{BRAND_NAME} &copy; {today.getFullYear()}</a>
        {
          LegalLinks.map((link) => (
            <Link
              href={link.href}
              class="inline-flex text-nowrap turncate gap-x-2 sm:gap-0.5 md:gap-x-2 text-sm sm:text-xs"
            >
              {link.title}
            </Link>
          ))
        }
      </div>
    </div>
  </nav>
</footer>
