---
import type { CollectionEntry } from "astro:content";
import OptimizedCover from "@components/OptimizedPicture.astro";
import FormattedDate from "@components/FormattedDate.astro";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;

function truncateUTF8String(str: string, maxBytes: number) {
  let byteCount = 0;
  let index = 0;
  while (index < str.length && byteCount < maxBytes) {
    const char = str.charCodeAt(index);
    if (char > 0x7ff) {
      byteCount += 3;
    } else if (char > 0x7f) {
      byteCount += 2;
    } else {
      byteCount += 1;
    }
    if (byteCount <= maxBytes) index++;
    else break;
  }
  return str.slice(0, index) + (index < str.length ? "..." : "");
}

const truncatedDescription = truncateUTF8String(post.data.description, 150);
---

<div class="hero row">
  <article class="col-12">
      <a href={`/posts/${post.slug}/`} class="hero-cover">
        <OptimizedCover src={post.data.cover} alt={post.data.title} loading="eager" />
      </a>
      <div class="mt-8 flex items-center gap-4 text-xs">
        <span>{post.data.tags.join(" ")}</span>
        <FormattedDate date={post.data.pubDate} />
      </div>
      <h2 class="h3 mt-3">
        <a href={`/posts/${post.slug}/`} class="block hover:text-primary transition duration-300">
          {post.data.title}
        </a>
      </h2>
      <p class="mt-3">
        {truncatedDescription}
      </p>
  </article>
</div>
